* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
	background-color: black;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}


/*landing page*/



#page {
	height: 120vh;
}

.logotxt {
	color: #fff;
	margin-top: 60px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: 'Lobster', cursive;
	font-size: 50px;
	padding: 0;
	margin-bottom: 0;
	height: 20px;
}

.learn	{
	color: lightgrey;
	margin-top: 250px;
	margin-right: 60px;
	margin-left: 60px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: blue;
	background: rgba(9, 9, 15, 0.6);
	border-radius: 25px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.btn {
	margin-top: 30px;
	color: white;
	background: rgba(0, 179, 0, 0.5); 
	font-weight: bold;
	font-weight: bold;
	width: 110px;
	height: 50px;
	font-size: 20px;
	font-family: 'Lobster', cursive;
}


.btn:hover {
	width: 130px;
}



.footer{
	height:50px;
	background-color: #333;
	margin-bottom:0px;
	z-index: -1;
}



.copyright {
	color: grey;
	font-size: 15px;
	padding-top: 10px;
}

.page {
	height: 100vh;
	background-image: url("../images/landing.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
}
.copylogo {
	font-size: 20px;
}






